# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Xcode
xcuserdata/
*.xcodeproj
*.xcworkspace

# Tuist
graph.dot
Derived/
Tuist/.build

# WhatToTest files used by Xcode Cloud when deploying to TestFlight & App Store.
TestFlight/WhatToTest.*.txt
