.DS_Store
xcuserdata/

# Ignore individual Package.resolved files. The main Package.resolved is already contained in the workspace. Use the workspace for development, instead of opening Package.swift directly in Xcode.
/app/Package.resolved
/app-icon/Package.resolved
/scripts/Package.resolved

# Ignore WhatToTest files used by Xcode Cloud when deploying to TestFlight & App Store.
TestFlight/WhatToTest.*.txt